@model CinemaApp.Models.EmailFormModel
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html>

<head>
    <!-- START HEAD -->
    <meta charset="utf-8">
    <!-- START TITLE -->
    <title>Riba SOLUTIONS</title>
    <!-- END TITLE -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- START THEME STYLE -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/normal.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/headhesive.css">
    <link href="~/assets/css/animate.css" rel="stylesheet">

    <!-- END THEME STYLE -->
    <!-- START FONTELLO ICONS STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/fontello-ie7.css">
    <!-- END FONTELLO ICONS STYLESHEET -->
    <!-- START MAGNIFIC POPUP STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">
    <!-- END MAGNIFIC POPUP STYLESHEET -->
    <!-- LOAD GOOGLE FONT OPEN SANS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700" rel="stylesheet" type="text/css">
    <!-- END GOOGLE FONT OPEN SANS -->
    <!-- START AJAX WEBFONTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <!-- END AJAX WEBFONTS -->
    <!-- START MOBILE DETECT -->
    <script>if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';</script>
    <!-- END MOBILE DETECT -->
    <!-- START FAVICON -->
    <link rel="shortcut icon" type="~/assets/image/x-icon" href="favicon.ico">
    <!-- EDN FAVICON -->
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->

</head><!-- END HEAD -->
<body>
    <!-- START BODY TAG -->
    <!-- START HEADER -->
    <!-- SCROLL DIV #boxscroll by nicescroll -->

    <div tabindex="1000" style="overflow-y: auto;" id="boxscroll">


        <!-- CHANGEABLE UNIQUE SECTOIN ID -->
        <section id="home">

            <!-- START FIXED HEADER DIV -->
            <div class="banner">
                <!-- START CONTAINER -->
                <div class="w-container container">
                    <div class="w-row">

                        <!-- START COLUMN 3 -->
                        <div class="w-col w-col-3 logo">
                            <!-- START LOGO -->
                            <a href="#"><img class="logo" src="~/assets/images/logo.png" alt="RIBA SOLUTIONS"></a>
                            <!-- END LOGO -->
                        </div><!-- END COLUMN 3 -->
                        <!-- START COLUMN 9 -->
                        <div class="w-col w-col-9">

                            <!-- START NAVIGATION -->
                            <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
                                <div class="w-container nav">
                                    <!-- START CONTAINER -->
                                    <!-- START NAVIGATION LINKS -->
                                    <nav class="w-nav-menu nav-menu" role="navigation">

                                        <a class="w-nav-link menu-li" href="#home">HOME</a>
                                        <a class="w-nav-link menu-li" href="#features">PROJECTS</a>
                                        <a class="w-nav-link menu-li" href="#service">SERVICES</a>
                                        <a class="w-nav-link menu-li" href="#team">TEAM</a>
                                        <a class="w-nav-link menu-li" href="#contact">CONTACT</a>

                                    </nav>
                                    <!-- END NAVIGATION LINKS -->
                                    <!-- START MOBILE NAVIGATION BUTTON * DO NOT DELETE THIS DIV* -->
                                    <div class="w-nav-button">
                                        <div class="w-icon-nav-menu"></div>
                                    </div><!-- END MOBILE NAVIGATION BUTTON -->

                                </div>
                                <!-- END CONTAINER -->
                            </div>
                            <!-- END NAVIGATION -->
                        </div>
                        <!-- END COLUMN 9 -->
                    </div>
                </div>
                <!-- END CONTAINER -->
            </div>
            <!-- END FIXED HEADER DIV -->
        </section>
        <!-- END SECTION -->
        <!-- END HEADER -->

        <div class="header-parallax" data-stellar-background-ratio="0.5">
            <div class="slidersection">



                <div class="overlay">

                    <div class="center fixed-content">
                        <div class="center-fix">
                            <h1 class="underline animated fadeInDown">RIBA SOLUTIONS</h1>
                            <h4 class="animated fadeInUp delay-05s" style="margin-bottom: 50px;">Exclusive solutions for <strong class="green">YOU</strong></h4>
                            <a class="button border animated fadeInUp delay-1s" href="#contact">Get in Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="features">
            <div class="row-back">
                <div class="w-container wrap">
                    <div class="center">
                        <h2 class="underline">OUR PROJECTS</h2>
                    </div>
                    <div class="w-col w-col-6 wp1">
                        <div class="icon-box">

                            <h4 class="icons-heading"><a href="/Account/Login">Riba Cinema Ticket Booking System</a></h4>

                            <p>
                                <a href="/Account/Login">Riba Cinema System</a> is for reserving cinema tickets for movies which are available at that time. Customers can buy tickets for the day after ticket is bought. <a href="/Account/Login">Click for demo preview</a>.
                            </p>

                        </div>

                    </div>
                    <div class="w-col w-col-6 wp1">
                        <div class="icon-box">

                            <h4 class="icons-heading"><a href="#features">Riba PDF Search Engine</a></h4>

                            <p>
                                <a href="#contact">Riba Search Engine</a> is a search engine system over digital system. The system will allow users to perform various searches(by author, title, keyword, etc...) over digital library(PDF books and articles). The project is done by 80% and still <a href="#features">under construction</a>.
                            </p>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row-back">
                <div class="w-container wrap-normal">

                </div>

                <div id="service">

                    <div class="row-gree">

                        <div class="w-container wrap">
                            <div class="center">
                                <h1 class="underline">OUR SERVICE</h1>
                            </div>
                        </div>

                    </div>

                    <div class="row-back">

                        <div class="w-container wrap-normal">

                            <div class="center">

                                <h2>WHAT <span class="green">WE</span> DO</h2>

                                <p>We are an IT support, solutions and services provider</p>

                            </div>

                            <div class="w-col w-col-6">

                                <div class="right wp8">

                                    <p>Our Company has expertise in all streams of web design and development services including website designing, website application development, search engine optimization.</p>

                                </div>

                            </div>

                            <div class="w-col w-col-6">

                                <div class="left wp7">

                                    <p>Sooner or later, you will need help with your computer systems, your networks, or your software</p>

                                </div>

                            </div>

                            <div class="spacing"></div>

                            <div class="w-col w-col-3">

                                <div class="icon-box">

                                    <img src="~/assets/images/services/branding.png" alt="branding">

                                    <h3 class="underline">branding</h3>

                                    <p>You can be sure you are working with a company that really knows what they are doing.</p>

                                </div>

                            </div>

                            <div class="w-col w-col-3">

                                <div class="icon-box">

                                    <img src="~/assets/images/services/motion.png" alt="motion">

                                    <h3 class="underline">motion</h3>

                                    <p>We are changing your ability and power to move!</p>

                                </div>

                            </div>

                            <div class="w-col w-col-3">

                                <div class="icon-box">

                                    <img src="~/assets/images/services/print.png" alt="print">

                                    <h3 class="underline">print</h3>

                                    <p>We are skilled in creating anything from small widgets to large, enterprise-class web.</p>

                                </div>

                            </div>

                            <div class="w-col w-col-3">

                                <div class="icon-box">

                                    <img src="~/assets/images/services/Web.png" alt="Web">

                                    <h3 class="underline">Web Design</h3>

                                    <p>We currently are using ASP.NET, HTML5 and CSS3.</p>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>



                <!--///////////////////////////////////////////////////////

                       // End Service section

                       //////////////////////////////////////////////////////////-->
                <!--///////////////////////////////////////////////////////


                       // Team section

                       //////////////////////////////////////////////////////////-->

                <div class="row-gree" id="team">
                    <div class="w-container wrap">
                        <h1 class="center underline">MEET THE TEAM</h1>
                    </div>
                </div>

                <div class="row-back">
                    <div class="w-container wrap-normal">
                        <div class="center">
                            <h2>our assets</h2>
                            <p>A proud group of <strong class="green">individuals</strong> who came together in a perfect unity to present you with this.</p>
                        </div>
                        <div class="w-col w-col-4"></div>
                        <div class="center w-col w-col-4 wp4 delay-05s">
                            <div class="team-album">
                                <div class="tumbnail">
                                    <a class="team-hyper">
                                        <img class="thumbnail-img" src="~/assets/images/team/AlicanBalik.jpg" alt="team1">
                                        <span>
                                            <h3 class="team-heading">Alican Balik</h3>
                                            <p class="team-designation">Young Developer</p>
                                            <p class="team-des">Graduation Ceremony is so close to him. Always willing to learn and practice more. Plans to stay in BiH for the rest of his life. </p>
                                        </span>
                                    </a>
                                    <div class="team-social">
                                        <a class="social-icons" href="https://fb.me/alican.balik" titlle="Facebook"><i class="facebookelegance-icons-"></i></a>
                                        <a class="social-icons" href="https://www.linkedin.com/in/alicanbalik" titlle="Linkedin"><i class="linkedinelegance-icons-"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-col w-col-4"></div>
                    </div>
                </div>

                <div class="parallax-back" data-stellar-background-ratio="0.5">
                    <div class="opcaity">
                        <div class="w-container wrap">
                            <div class="w-col w-col-4">
                                <div class="center">
                                    <h3>NOBODY’S <span class="green">PERFECT.</span> THAT DOESN’T MEAN WE WON’T TRY!</h3>
                                </div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="center">
                                    <div class="circule circule-info"><p class="info"><strong class="info-strong">99%</strong><br />CLIENT<br />SATISFACTION</p></div>
                                </div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="center">
                                    <h3 class="info-x">WANT TO KNOW HOW WE CAN HELP YOU?</h3> <br /><h4><a href="mailto:alicanbalik@outlook.com"><span class="email">ALICANBALIK@OUTLOOK.COM</span></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--///////////////////////////////////////////////////////

                       // End Team section

                       //////////////////////////////////////////////////////////-->
                <!--///////////////////////////////////////////////////////

                       // Contact section

                       //////////////////////////////////////////////////////////-->



                <div id="contact">

                    <div class="parallax-back" data-stellar-background-ratio="0.5">
                        <div class="opcaity">
                            <div class="w-container wrap">

                                <div class="center">
                                    <h1 class="underline">GET IN TOUCH</h1>
                                    <p>Feel free to contact us at any time</p>
                                    <div class="social-footter">
                                        <a href="https://fb.me/alican.balik" class="facebookelegance-icons-"></a>
                                        <a href="https://www.linkedin.com/in/alicanbalik" class="linkedinelegance-icons-"></a>
                                    </div>

                                    <div class="w-form">
                                        @using (Html.BeginForm("Contact", "Contact", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            <label for="name"></label>
                                            @Html.TextBoxFor(m => m.FromName, new { @class = "w-input", @placeholder = "Name" })
                                            @Html.ValidationMessageFor(m => m.FromName)
                                            <label for="email"></label>
                                            @Html.TextBoxFor(m => m.FromEmail, new { @class = "w-input", @placeholder = "Email Address" })
                                            @Html.ValidationMessageFor(m => m.FromEmail)
                                            <label for="message"></label>
                                            @Html.TextAreaFor(m => m.Message, new { @class = "w-input message", @placeholder = "Message" })
                                            @Html.ValidationMessageFor(m => m.Message)
                                            <br />
                                            <input id="clickMe" class="button medium" type="submit" value="Send" onclick="bilgilendirme()">

                                        }

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="footer row-back">
                    <div class="w-container wrap-normal center">&copy; <strong>Riba Solutions</strong><span class="green"> 2016</span></div>
                </div>

            </div>

            <!-- START JQUERY PLUGINS LOAD -->
            <script>
                document.getElementById("clickMe").onclick = function bilgilendirme() { alert("Message has been sent successfully."); };
            </script>
            <script src="~/Scripts/jquery.validate.min.js"></script>


            <script src="~/assets/js/jquery.js"></script>
            <script src="~/assets/js/modernizr.js"></script>
            <script src="~/assets/js/normal.js"></script>
            <script src="~/assets/js/carousels.js"></script>
            <script src="~/assets/js/jquery.stellar.js"></script>
            <script src="~/assets/js/classie.js"></script>
            <script src="~/assets/js/jquery.mixitup.js"></script>
            <script src="~/assets/js/testimonials.js"></script>
            <script src="~/assets/js/jquery.nicescroll.js"></script>
            <script src="~/assets/js/rotating-text.js"></script>
            <script src="~/assets/js/jquery.magnific-popup.js"></script>
            <script src="~/assets/js/headhesive.min.js"></script>
            <script src="~/assets/js/waypoints.min.js"></script>
            <script src="~/assets/js/scripts.js"></script>

            <!-- END JQUERY PLUGINS LOAD -->

</body>

</html>